In [1]:
for i in range(1,5):
    print(i)

1
2
3
4

In [ ]:
#list**
list=['abcd', 786, 2.23, 'john', 79.2]
tinylist=[123,'John']

print(list)                  #Prints complete list
print(list[0])               #Prints first element of the list
print(list[1:3])             #Prints elements from 2nd till 3rd
print(list[2:])              #Prints starting from 2nd
print(tinylist * 2)          #Prints list two times
print(list + tinylist)       #Prints concatenated list

['abcd', 786, 2.23, 'john', 79.2]
abcd
[786, 2.23]
[2.23, 'john', 79.2]
[123, 'John', 123, 'John']
['abcd', 786, 2.23, 'john', 79.2, 123, 'John']

In [3]:
#range(start,stop,step
#start - starting position(optional,default-0)
#stop - ending position(mandatory)
#step-to specify increment (optional,default:1)
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
b="   Apple is Green  "
print(b.strip()) #removes unnecessary spaces at the start and end of string

Apple is Green

In [5]:
a="Hello World!" #Replace String
print(a.replace("H","J"))

Jello World!

In [6]:
#Split String
a="Hello World!!"
b=a.split()
print(b)

['Hello', 'World!!']

In [7]:
a="Hello"
b=" World!"
c=a+b
print(c)

Hello World!

In [9]:
#Format String
age=21
txt=f"My name is Ayush,I am {age} years old"
#f is used to add integer to string , it came to python in the version 3.6
print(txt)

My name is Ayush,I am 21 years old

In [10]:
#Booleans
#Evaluate values and variables
print(bool("Hello"))
print(bool(25))
print(bool(0))

True
True
False

In [11]:
#Functions returning boolean 
def myfunc():
    return False

print(myfunc())

False

In [8]:
a = 10
b = 3
print(a//b)
print(a/b)

3
3.3333333333333335

In [11]:
if(3>2 or 1>8):
    print("true")
else:
    print("false")

true

Match / switch

In [40]:
for i in range(4):
   match(i):
       case 1:
        print("hello")
       case 2:
           print("no hello")
       case 3:
           print("Here no")
       case 4:
           print("Here no no")
     #default case
       case _:
        print("NO found")

NO found
hello
no hello
Here no

Loops

In [45]:
i=1
while i < 6:
    print(i)
    i+=1

1
2
3
4
5

In [2]:
v = int(input("Enter choice"))
if 1<v<10:
    print("guess")
else:
    print("NOPE")

Enter choice 12

NOPE

Loops

In [3]:
fruits = ["Apple" , "banana" , "cherry"]
for x in fruits:
    print(x)

Apple
banana
cherry

In [4]:
for x in "Apple":
    print(x)

A
p
p
l
e

In [7]:
for x in range(3):
    print(x)
for x in range(4,8):
    print(x)
for x in range(9,20,5):
    print(x)

0
1
2
4
5
6
7
9
14
19

In [8]:
i=1
while i<6:
    print(i)
    i+=1
else:
    print("i no longer")

1
2
3
4
5
i no longer

NESTED LOOP

In [9]:
a = ["A" , "B" , "C"]
fruits = ["Apple" , "banana" , "cherry"]
for x in a:
    for y in fruits:
        print(x,y)

A Apple
A banana
A cherry
B Apple
B banana
B cherry
C Apple
C banana
C cherry

In [1]:
for x in [0,1,2,3]:
    pass

LIST

In [3]:
list1 = ["Rohan", 1, 3]
list1

['Rohan', 1, 3]

#Ordered and Changebale
#Allow Duplicable

In [24]:

list1 = ["Rohan", 1, 3, 1, 3]
list1

['Rohan', 1, 3, 1, 3]

In [7]:
print(len(list1))

5

#list() constreuctor

In [8]:
list2 = list(("rohan", 1,3,"rohan", "apple", "apple"))

Access item in list

In [17]:
print(list1[0])

Rohan

Range of Indexes

In [18]:
print(list1[2:5])

[3, 1, 3]

In [20]:
print(list1[-4:-1])

[1, 3, 1]

Check if item exists

In [27]:
list1 = ["rohan", 1,  3, "rohan", "apple", "apple"]
if "apple" in list1:
    print("Yes")

Yes

Change list item

In [28]:
list1[0] = "ram"
print(list1)

['ram', 1, 3, 'rohan', 'apple', 'apple']

In [29]:
list1[1:4] = [7, 2,42]
print(list1)

['ram', 7, 2, 42, 'apple', 'apple']

Insert

In [43]:
list1 = ["rohan", 1, 3, "rohan", "apple", "apple"]
list1.insert(2, "hello")
print(list1)

['rohan', 1, 'hello', 3, 'rohan', 'apple', 'apple']

Append

In [44]:
list1.append("world")
print(list1)

['rohan', 1, 'hello', 3, 'rohan', 'apple', 'apple', 'world']

Extend

Remove

In [45]:
list1.remove("apple")
print(list1)

['rohan', 1, 'hello', 3, 'rohan', 'apple', 'world']

In [46]:
list1.pop(1)

1

In [47]:
list1

['rohan', 'hello', 3, 'rohan', 'apple', 'world']

In [1]:
list1 = ["apple","cherry", "banana" ]
print(list1)

['apple', 'cherry', 'banana']

In [2]:
del list1

In [6]:
print(list1)

['apple', 'cherry', 'banana']

In [7]:
list1.clear()

In [8]:
print(list1)

[]

Loop List

In [5]:
list2 = ["apple", "banana", "cherry"]
for x in range(len(list2)):
    print(list2[x])

apple
banana
cherry

In [12]:
i = 0
while i < len(list2):
    print(list2[i])
    i += 1

apple
banana
cherry

Looping using list comprehension

In [13]:
[print(x) for x in list2]  #Ignore none none none

apple
banana
cherry

[None, None, None]

In [15]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
thislist = [x.upper() for x in fruits]
print(thislist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [17]:
thislist = [x.lower() for x in fruits]
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [20]:
thislist = [x.capitalize() for x in fruits]
print(thislist)

['Apple', 'Banana', 'Cherry', 'Kiwi', 'Mango']

Sorting

In [35]:
alpha = ['J', 'q', 'y', 'g', 'l', 'p', 'o', 'a']
alpha.sort()
print(alpha)

['J', 'a', 'g', 'l', 'o', 'p', 'q', 'y']

Sorting with Key

In [37]:
alpha.sort(key = str.lower)
print(alpha)

['a', 'g', 'J', 'l', 'o', 'p', 'q', 'y']

In [40]:
alpha.sort(reverse=True)
print(alpha)

['y', 'q', 'p', 'o', 'l', 'g', 'a', 'J']

Reverse function

In [43]:
alpha = ['J', 'q', 'y', 'g', 'l', 'p', 'o', 'a']
alpha.sort()
alpha.reverse()
print(alpha)

['y', 'q', 'p', 'o', 'l', 'g', 'a', 'J']

Copying list

In [3]:
a= ["apple", "banana", "cherry"]
list1 = list(a)
print(list1)

['apple', 'banana', 'cherry']

In [4]:
list1 = a[:]
print(list1)

['apple', 'banana', 'cherry']

Merging two lists

In [6]:
list3 = list1 + list2
print(list3)

['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry']

In [9]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
for x in list2:
    list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [10]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]