In [1]:
for i in range(1,5):
    print(i)

1
2
3
4

In [ ]:
#list**
list=['abcd', 786, 2.23, 'john', 79.2]
tinylist=[123,'John']

print(list)                  #Prints complete list
print(list[0])               #Prints first element of the list
print(list[1:3])             #Prints elements from 2nd till 3rd
print(list[2:])              #Prints starting from 2nd
print(tinylist * 2)          #Prints list two times
print(list + tinylist)       #Prints concatenated list

['abcd', 786, 2.23, 'john', 79.2]
abcd
[786, 2.23]
[2.23, 'john', 79.2]
[123, 'John', 123, 'John']
['abcd', 786, 2.23, 'john', 79.2, 123, 'John']

In [3]:
#range(start,stop,step
#start - starting position(optional,default-0)
#stop - ending position(mandatory)
#step-to specify increment (optional,default:1)
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
b="   Apple is Green  "
print(b.strip()) #removes unnecessary spaces at the start and end of string

Apple is Green

In [5]:
a="Hello World!" #Replace String
print(a.replace("H","J"))

Jello World!

In [6]:
#Split String
a="Hello World!!"
b=a.split()
print(b)

['Hello', 'World!!']

In [7]:
a="Hello"
b=" World!"
c=a+b
print(c)

Hello World!

In [9]:
#Format String
age=21
txt=f"My name is Ayush,I am {age} years old"
#f is used to add integer to string , it came to python in the version 3.6
print(txt)

My name is Ayush,I am 21 years old

In [10]:
#Booleans
#Evaluate values and variables
print(bool("Hello"))
print(bool(25))
print(bool(0))

True
True
False

In [11]:
#Functions returning boolean 
def myfunc():
    return False

print(myfunc())

False

In [8]:
a = 10
b = 3
print(a//b)
print(a/b)

3
3.3333333333333335

In [11]:
if(3>2 or 1>8):
    print("true")
else:
    print("false")

true

Match / switch

In [40]:
for i in range(4):
   match(i):
       case 1:
        print("hello")
       case 2:
           print("no hello")
       case 3:
           print("Here no")
       case 4:
           print("Here no no")
     #default case
       case _:
        print("NO found")

NO found
hello
no hello
Here no

Loops

In [45]:
i=1
while i < 6:
    print(i)
    i+=1

1
2
3
4
5

In [2]:
v = int(input("Enter choice"))
if 1<v<10:
    print("guess")
else:
    print("NOPE")

Enter choice 12

NOPE